# Dependências
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Builds e saídas
dist/
build/
saida_build/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Editores e SO
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
